<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script>
			
		</script>
	</head>
	<body>
		<form action="/results" method="GET">
			<label for="weight">Weight</label>
			<input name="weight" type="number" step="0.1">
			<label for="mail">Type of mail</label>
			<select name="mail">
				<option value="stamp">Letters(Stamped)</option>
				<option value="meter">Letters(Metered)</option>
				<option value="flat">Large Envelopes (Flats)</option>
				<option value="firstclass">First-Class Package Service-Retail </option>
			</select>
			<input type="submit"></input>
		</form>
	</body>
</html>